@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.width-section {
	padding: 0 15px;
	@media only screen and (min-width: 1200px) {
		width: calc(100% - 200px) !important;
		margin: auto;
	}
}
@font-face {
	font-family: ObviouslyDemo;
	src: url(../font/Obviously-Bold.otf);
}
@font-face {
	font-family: Obviously;
	src: url(../font/Obviously-Medium.otf);
}
.nav-button {
	border-radius: 134px;
	background: #30b72a;
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.06);
	color: #fff !important;
	border: 0;
	outline: 0;
	padding: 10px 24px;

	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.filed-button {
	border-radius: 64px;
	background: linear-gradient(
		180deg,
		#3578fb 0%,
		rgba(25, 155, 215, 0.89) 100%
	);
	box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.06);
	padding: 2px 28px;
	text-align: center;
	border: 0;
	outline: 0;
	color: #fff;

	text-align: center;

	font-feature-settings: "clig" off, "liga" off;
	font-family: Manrope;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 30px; /* 214.286% */
	letter-spacing: 1px;
	text-transform: uppercase;
}
.heading-text-h2 {
	color: #0a0a0a;

	font-family: ObviouslyDemo;
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: 78px;
}
.heading-text-pera {
	color: #383838;

	font-family: Manrope;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
}
.slider-text-h4 {
	color: #fff;

	font-family: Obviously;
	font-size: 20px;
	font-style: normal;
	font-weight: 550;
	line-height: 35px; /* 145.833% */
	letter-spacing: 0.48px;
	max-width: 192px;
	width: 100%;
	margin: auto;
}
// ? ---------------------  SECTION ONE ------------------------------

.section-one-main-div {
	width: 100%;
	background-image: url(../images/header-main.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	position: relative;
	.first-section-inner-div {
		.navbar-main-section {
			padding: 50px 0 0 0;
			.navbar-main {
				.navbar-main-flex-sec {
					display: flex;
					align-items: center;
					justify-content: space-between;
					.nav-logo-sec {
						.logo {
							img {
								width: 59px;
								height: 39px;
								flex-shrink: 0;
							}
						}
					}
					.navbar-link-sec {
						ul {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							gap: 30px;
							list-style: none;
							text-decoration: none;
							li {
								list-style: none;
								text-decoration: none;
								a {
									text-decoration: none;
									color: var(--Greyscale-Black, #131c39);
									font-family: Manrope;
									font-size: 16px;
									font-style: normal;
									font-weight: 600;
									line-height: normal;
								}
							}
						}
					}
					.navbar-respo-btn {
						display: none;
					}
				}
			}
		}
		.header-main-section {
			padding-top: 87px;
			.ourintro-text {
				.text-sec {
					max-width: 743px;
					h2 {
					}
					p {
						max-width: 593px;
					}
					button {
						height: 54px;
					}
				}
			}
			.character-image {
				width: 50%;

				aspect-ratio: 586/460;
				max-width: 430px;
				max-height: 330px;
				position: absolute;
				right: 18%;
				bottom: 20px;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
// ? ---------------------  SECTION TWO ------------------------------
.section-two-main {
	.section-two-inner-section {
		padding-top: 100px;
		text-align: center;
		.section-two-header-text {
			max-width: 957px;
			margin: auto;
			h2 {
				text-align: center;
				font-size: 38px !important;
				line-height: 149%;
			}
			p {
				max-width: 884px;
				margin: auto;
			}
			button {
				height: 54px;
				margin-top: 30px;
			}
		}
		.slider-main-section {
			padding-top: 40px;
			position: relative;

			.main-card {
				width: 100%;
				.slider-card {
					width: 100%;
					.inner-card {
						width: 100%;
						position: relative;
						.image {
							width: 100%;

							img {
								width: 100%;
							}
						}
						.discription {
							position: absolute;
							bottom: 10px;
							z-index: 22;
							border-radius: 16px;
							padding: 13px 0;
							background: rgba(47, 45, 35, 0.91);
							width: calc(100% - 20px);
							left: 50%;
							transform: translateX(-50%);
							-webkit-transform: translateX(-50%);
							-moz-transform: translateX(-50%);
							-ms-transform: translateX(-50%);
							-o-transform: translateX(-50%);
							text-align: center;
							h4 {
								width: 100%;
							}
						}
					}
				}
			}
			.slick-slide,
			.slick-cloned {
				scale: 0.75 !important;
				opacity: 0.7;
			}
			.slick-active {
				scale: 0.9 !important;
				opacity: 1;
				.main-card {
					width: calc(100% - 20px);
					margin: auto;
				}
			}
			.slick-current,
			.slick-center {
				opacity: 1;
				scale: 1 !important;
			}
		}
	}
}
// ? ---------------------  SECTION THREE ------------------------------
.section-three-main {
	width: 100%;
	padding-top: 56px;

	.section-three-inner {
		.section-three-flex-section {
			display: flex;
			align-items: stretch;
			justify-content: flex-start;
			gap: 28px;
			.image-part-1 {
				border-radius: 20px;
				background: #fff;
				box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.15);
				padding: 30px;
				width: 60%;
				.image {
					width: 100%;
					height: 100%;
					img {
						width: 100%;
						height: 100%;
						aspect-ratio: 604/482;
					}
				}
				.txt {
					padding: 35px 0 5px 0;
					h3 {
						color: #000;

						font-family: Manrope;
						font-size: 30px;
						font-style: normal;
						font-weight: 800;
						line-height: 158%;
						text-align: center;
					}
				}
			}
			.text-part-2 {
				width: 40%;
				.info-card-flex-sec {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					gap: 16px;
					.info-card {
						border-radius: 20px;
						background: #fff;
						box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.15);
						padding: 18px 16px;

						border: 2px transparent;
						&:hover {
							border-radius: 20px;
							border: 2px solid #729def;
							padding: 16px 14px;
						}
						.head {
							display: flex;
							align-items: center;
							justify-content: space-between;
							svg {
								font-weight: 600;
								color: rgba(45, 59, 216, 1);
							}
						}
						h6 {
							color: #000;

							font-family: Manrope;
							font-size: 20px;
							font-style: normal;
							font-weight: 700;
							line-height: 158%;
						}
						p {
							color: #818181;

							font-family: Manrope;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: 160%;
							max-width: 410px;
						}
					}
				}
			}
		}
	}
}
// ? ---------------------  SECTION FOURE , SECTION SEVEN ------------------------------
.section-four-main,
.section-seven-main,
.section-eleven-main {
	padding-top: 100px;

	.section-four-main-inner {
		border-radius: 24px;
		background: linear-gradient(
			180deg,
			#3578fb 0%,
			rgba(25, 155, 215, 0.89) 100%
		);
		box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.06);
		padding: 70px 0;
		position: relative;
		&::before {
			top: 50%;
			left: 50%;
			width: 99.5%;
			height: 98.5%;
			position: absolute;
			content: "";
			border-radius: 20px;
			background: linear-gradient(180deg, #262626 0%, #161f23 100%);
			box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.06);
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			-ms-border-radius: 20px;
			-o-border-radius: 20px;
		}
		&::after {
			position: absolute;
			top: 50%;
			right: -8%;
			content: "";
			border-radius: 532.755px;
			background: rgba(203, 249, 104, 0.33);
			filter: blur(128.5px);
			width: 100%;
			height: 100%;
			max-width: 424px;
			min-height: 532px;
			z-index: -1;
		}
		.text-sec {
			max-width: 848px;
			padding-top: 10px;
			text-align: center;
			margin: auto;
			position: relative;
			z-index: 1;
			h3 {
				color: #fff;
				font-size: 38px;
			}
			p {
				font-size: 20px;
				max-width: 738px;
				color: #fff;
				margin: auto;
			}
			button {
				margin-top: 54px;
				width: 100%;
				height: 64px;
				max-width: 440px;
				font-size: 20px;
			}
		}
	}
}
.section-seven-main,
.section-eleven-main {
	.section-four-main-inner {
		&::after {
			display: none;
		}
	}
}
// ? ---------------------  SECTION FIVE ------------------------------
.section-five-main {
	width: 100%;
	padding-top: 100px;
	.section-five-main-inner {
		.section-five-main-header-sec {
			.text {
				text-align: center;
				margin: auto;
				max-width: 864px;
				h3 {
					font-size: 38px;
				}
				p {
					font-size: 20px;
				}
				button {
					margin-top: 30px;
					height: 60px;
				}
			}
		}
		.section-five-main-slider {
			margin-top: 40px;
			background-image: url(../images/banner-bg.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			aspect-ratio: 1;
			max-height: 732px;
			border-radius: 24px;
			-webkit-border-radius: 24px;
			-moz-border-radius: 24px;
			-ms-border-radius: 24px;
			-o-border-radius: 24px;
			.slider-main {
				width: 100%;
				height: 100%;

				position: relative;
				.slider-card {
					transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
					.slide-card {
						width: 100%;
						max-width: 450px;
						max-height: 280px;
						object-fit: cover;
						border-radius: 14px;
						border: 1px solid rgb(255, 255, 255, 0.4);
						overflow: hidden;
						.slider-card-inner {
							width: 100%;
							height: 100%;
							img {
								width: 100%;
								height: 100%;
								opacity: 0.4;
							}
						}
					}
				}
				.slider-card-2 {
					position: absolute;
					top: 13%;
					left: 4%;
					transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
				}
				.slider-card-3 {
					position: absolute;
					bottom: 5%;
					left: 8%;
					transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
				}
				.slider-card-4 {
					position: absolute;
					bottom: 13%;
					right: 4%;
					transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
				}
				.slider-card-5 {
					position: absolute;
					top: 6%;
					right: 5%;
					transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
				}
				.slider-card-1 {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 11;
					transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
				}
				.slider-active {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					z-index: 11;
					.slide-card {
						width: 100%;
						max-width: 486px;
						max-height: 280px;
						object-fit: cover;

						border-radius: 14px;
						border: 7px solid #fff;
						.slider-card-inner {
							width: 100%;
							height: 100%;
							img {
								width: 100%;
								height: 100%;
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
}
// ? ---------------------  SECTION SIX ------------------------------
.section-six-main {
	padding-top: 235px;
	width: 100%;

	.section-six-main-inner {
		.infomation-section {
			width: 100%;
			.info-flex-sec {
				display: flex;
				align-items: flex-end;
				justify-content: space-between;
				.content-sec {
					width: 60%;
					padding-bottom: 40px;
					max-width: 610px;
					.logo {
						padding-bottom: 25px;
						img {
							width: 100%;
							height: 100%;
							max-width: 110px;
							max-height: 110px;
						}
					}
					button {
						margin-top: 15px;
						height: 60px;
					}
				}
				.img-sec {
					width: 40%;
					max-width: 403px;
					max-height: 413px;
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
		.galery-sec {
			margin-top: -3px;
			.image {
				background-image: url(../images/border.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				padding: 20px;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
// ? ---------------------  SECTION EIGHT ------------------------------
.section-eight-main {
	background: linear-gradient(180deg, #fff 0%, #d7e4ff 100%);
	width: 100%;
	height: 100%;
	padding-top: 100px;
	overflow: hidden;
	.section-eight-main-inner {
		.section-eight-flex-sec {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 50px;
			.client-info {
				width: 60%;
				max-width: 671px;
				padding: 201px 0;
				.text {
					p {
						color: #000;
						max-width: 547px;
						font-size: 20px;
					}
					h2 {
						font-size: 40px;
					}
				}
			}
			.client-slider-main-sec {
				width: 40%;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.client-info-card {
				border-radius: 20px;
				background: #fff;

				color: #000;
				max-width: 422px;
				max-height: 201px;
				padding: 30px;

				p {
					padding: 0;
					margin: 0;

					text-align: center;
					font-family: Manrope;
					font-size: 14px;
					font-style: normal;
					font-weight: 500;
					line-height: 180%;
				}
				.client-name {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 10px;
					padding-top: 22px;
					.txt {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						gap: 10px;
						span {
							color: #818181;

							text-align: center;
							font-family: Manrope;
							font-size: 12px;
							font-style: normal;
							font-weight: 500;
							line-height: 32px;
						}
					}
				}
			}
			.slick-slide {
				border: 10px solid transparent;
				opacity: 0.4;
			}
			.slick-center {
				border: 10px solid transparent;
				opacity: 1 !important;
				.client-info-card {
					box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.15);
				}
			}
		}
	}
}
// ? ---------------------  SECTION NINE ------------------------------
.section-nine-main {
	width: 100%;
	padding-top: 100px;
	.section-nine-main-inner {
		.header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			h2 {
				font-size: 44px;
			}
			button {
				height: 60px;
			}
		}
		.flex-parts-one {
			padding-top: 40px;
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			gap: 30px;
			.part-1 {
				width: 50%;

				.column-flex {
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-between;
					padding: 30px 30px 0 30px;
					border-radius: 24px;

					border: 1px solid rgba(0, 0, 0, 0.12);
					background: #f8f9fb;
					.image-sec {
						img {
							width: 100%;
							height: 100%;
							border-radius: 24px 0 0 0;
							-webkit-border-radius: 24px 0 0 0;
							-moz-border-radius: 24px 0 0 0;
							-ms-border-radius: 24px 0 0 0;
							-o-border-radius: 24px 0 0 0;
							aspect-ratio: 586/312;
						}
					}
					.txt-sec {
						padding-bottom: 22px;
						h4 {
							font-size: 22px;
							line-height: 36px;
						}
						p {
							margin: 0;
							padding: 0;
							font-size: 14px;
							line-height: 180%;
						}
					}
				}
				.border-sec {
					border-radius: 24px;
					border: 5px solid #eaf89f;
					background: #f8f9fb;
					padding: 25px !important;
					.text-sec {
						padding-top: 22px;
						padding-bottom: 0;
					}
					.image-sec {
						img {
							border-radius: 24px;
							-webkit-border-radius: 24px;
							-moz-border-radius: 24px;
							-ms-border-radius: 24px;
							-o-border-radius: 24px;
							aspect-ratio: 545/312;
						}
					}
				}
			}
		}
		.flex-parts-two {
			display: flex;
			align-items: stretch;
			justify-content: space-between;
			margin-top: 30px;
			border-radius: 24px;
			border: 1px solid rgba(0, 0, 0, 0.12);
			background: #f8f9fb;
			overflow: hidden;
			.part-1 {
				width: 65%;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.part-2 {
				width: 35%;
				padding: 30px;
				.txt-sec {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;
					gap: 20px;
					h4 {
						font-size: 22px;
						line-height: 36px;
						padding-bottom: 12px;
						margin: 0;
					}
					p {
						margin: 0;
						padding: 0;
						font-size: 14px;
						line-height: 180%;
					}
				}
			}
		}
	}
}
// ? ---------------------  SECTION TEN ------------------------------
.section-ten-main {
	padding-top: 100px;
	.section-ten-main-inner {
		.header-sec {
			text-align: center;
			h2 {
				max-width: 590px;
				margin: auto;
				font-size: 38px;
			}
			p {
				max-width: 864px;
				margin: auto;
				font-size: 20px;
				color: #2a2a2b;
			}
		}
		.main-card {
			margin-top: 40px;
			width: 100%;
			padding: 26px 50px;
			border-radius: 24px;
			background: linear-gradient(180deg, #262626 0%, #161f23 100%);
			filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.06));
			position: relative;
			&::before {
				position: absolute;
				content: "";
				z-index: -11;
				width: 100px;
				height: 200px;
				right: -9%;
				top: 0;
				background-image: url(../images/stone.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
			}
			.female-img {
				position: absolute;

				left: -100px;
				width: 100%;
				height: 100%;
				bottom: -20px;

				img {
					width: 100%;
					height: 100%;
					max-width: 850px;
				}
			}
			.column-flex-section {
				display: flex;
				align-items: flex-start;
				justify-content: flex-end;
				gap: 30px;
				.row-col-1 {
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-direction: column;
					gap: 58px;
					.row-card {
						max-width: 180px;

						.inner {
							display: flex;
							align-items: flex-start;
							justify-content: flex-start;
							flex-direction: column;
							gap: 10px;
							h6,
							p {
								margin: 0;
								padding: 0;
							}
							h6 {
								color: #fff;

								font-family: Rajdhani;
								font-size: 22px;
								font-style: normal;
								font-weight: 600;
								line-height: 29px;
							}
							p {
								color: #fff;

								font-family: Manrope;
								font-size: 13px;
								font-style: normal;
								font-weight: 300;
								line-height: 22px;
							}
						}
					}
					.border-11 {
						position: relative;
						margin-right: 30px;
						&::after {
							position: absolute;
							content: "";
							width: 2px;
							height: 95%;
							background: radial-gradient(
								542899.99% 36.48% at 50% 50.03%,
								#686b72 0%,
								rgba(225, 225, 225, 0) 100%
							);
							right: -30px;
							top: 50%;
							transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
}
.section-twelve-main {
	padding-top: 100px;
	.twelve-main-inner,
	.width-section {
		max-width: 1020px !important;
		margin: auto;
		.header-sec {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 26px;
			h3 {
				font-size: 36px;
				line-height: 149%;
				margin: 0;
				padding: 0;
			}
			p {
				max-width: 941px;
				margin: auto;
				color: #2a2a2b;
				font-size: 18px;
				margin: 0;
				padding: 0;
				line-height: 32px;
			}
		}
		.our-achivements-sec {
			width: 100%;
			.togel-navbar {
				max-width: 586px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: auto;
				padding: 80px 0 52px 0;
				.link {
					width: 50%;
					max-width: 250px;
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					gap: 25px;
					padding-bottom: 30px;
					position: relative;
					h3 {
						color: #000;

						font-family: Obviously;
						font-size: 19px;
						font-style: normal;
						font-weight: 600;
						line-height: 149%;
					}
				}
				.link:first-child {
					&::after {
						position: absolute;
						content: "";
						height: 4px;
						width: 100%;
						left: 0;
						bottom: 0;
						background: linear-gradient(180deg, #30b72a 0%, #0da106 100%);
					}
				}
			}
			.info {
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				flex-direction: column;
				gap: 30px;
				.row-flex {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					gap: 40px;
					h2 {
						text-align: center;
						color: transparent;
						font-family: ObviouslyDemo;
						font-size: 80px;
						font-style: normal;
						font-weight: 560;
						line-height: 149%;
						background: linear-gradient(180deg, #30b72a 0%, #0da106 100%);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
						margin: 0;
						padding: 0;
					}
					h6 {
						color: #000;

						font-family: Obviously;
						font-size: 19px;
						font-style: normal;
						font-weight: 600;
						line-height: 149%;
						max-width: 125px;
						margin: 0;
						padding: 0;
					}
					p {
						color: #2a2a2b;

						font-family: Manrope;
						font-size: 16px;
						font-style: normal;
						font-weight: 600;
						line-height: 179%;
						max-width: 510px;
						margin: 0;
						padding: 0;
					}
				}
			}
		}
		.our-client {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			gap: 60px;
			padding-top: 100px;
			.row-1 {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 69px;
				max-width: 712px;
				.img-1 {
					width: 33.33%;
					img {
						width: 100%;
					}
				}
			}
			.row-2 {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 84px;
				max-width: 378px;
				.img-1 {
					width: 50%;
					img {
						width: 100%;
					}
				}
			}
		}
	}
}
.contact-us-section {
	padding-top: 100px;
	.contact-us-section-inner {
		border-radius: 24px;
		background: linear-gradient(180deg, #262626 0%, #161f23 100%);
		box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.06);
		padding: 60px 0;
		text-align: center;
		.contact-us-text {
			.text {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 12px;
				h6 {
					color: #fff;
					font-family: Manrope;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 32px; /* 160% */
					padding: 0;
					margin: 0;
				}
				h2 {
					color: #fff;
					padding: 0;
					margin: 0;
					font-weight: 600;
					font-family: Obviously;
				}
				p {
					color: #fff;
					padding: 0;
					margin: 0;
					max-width: 844px;
				}
			}
		}
		.contact-us-input-filed {
			max-width: 886px;
			margin: auto;
			.form {
				padding-top: 40px;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-direction: column;
				gap: 20px;
				.row-1 {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 20px;
					.input-1 {
						width: 50%;
					}
				}
				.row-2 {
					width: 100%;
					button{
						width: 100%;
						height: 64px;
						border-radius: 10px;
						margin-top: 20px;
					}
				}
			}
		}
		input,
		textarea {
			width: 100%;
			border-radius: 10px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			background: #fff;
			outline: 0;
			padding: 16px 20px;
			resize: none;
			color: #000;

			font-feature-settings: "clig" off, "liga" off;
			font-family: Manrope;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 30px; /* 214.286% */
			&:focus {
				border-radius: 10px;
				border: 2px solid #30b72a;
				background: #fff;
			}
		}
		input {
			height: 58px;
		}
	}
}
